<!DOCTYPE=html>
<html>
<body>
  <h1>The homepage for Alpha-Blog</h1>
  <h6>the very first version</h6>
  <%= image_tag 'Latin_alpha_in_GACL.svg.png'%>
  <p>
    <%= link_to 'About page', about_path%>
  </p>
</body>
</html>
